.footer{
    background-color: rgb(7, 7, 7);
    height: 40vh;
    padding: 3rem;
}

.footer_links{
    padding: 0 7rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_section h3{
    color: #8d8d8d;
    font-weight: 400;
    text-decoration: none;
}

.footer_section div{
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-left: 0.7rem;
}

.footer_section div a{
    color: #7f7f7f;
    text-decoration: none;
}

.social_icons{
    margin-left: 68rem;
    margin-top: 2rem;
}

.social_icons a img{
    width: 30px;
    margin: 0 1rem;
}